#headerMain {
    background-color: #004A87;
    color: white;
    border-bottom: 2px solid #D17900;
}

.bg-unimag {
    background-color: #004A87;
    color: White;
    margin-bottom: 2%;
}

.bg-unimag a {
    color: White;
}

.bg-unimag a.btn:focus,
.bg-unimag a.btn:hover {
    color: #333;
}

.bg-unimag .nav-item.active {
    font-weight: 700;
    background-color: #003A6B;
}

.bg-unimag .dropdown-menu a,
.bg-unimag a.btn:hover {
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700!important;
}

.nav-item {
    cursor: pointer;
}

.border0 {
    border-radius: 0px!important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.colorA:focus,
.colorA:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #eef1f3;
}