<nav class="navbar navbar-expand-lg navbar-dark bg-unimag">
    <a class="navbar-brand" [routerLink]="[ '/usuarios']">

        <h1 class="h5 mb-0 d-inline-block text-uppercase">Proyecto de prueba para Insoftar <small class="d-block">Insoftar</small></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">



        </ul>
        <div class="navbar-text text-center text-md-left">
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-light mb-1 mb-md-0 mr-1 dropdown-toggle" href="#" id="menuConfiguracion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i> Configuración
                </a>
            </div>
            <a href="#modalAyuda" role="button" class="btn btn-sm btn-outline-light mb-1 mb-md-0 mr-1" title="Ayuda" data-toggle="modal">
                <span class="fa fa-question-circle" aria-hidden="true"></span>
                <span class="sr-only">Ayuda</span>
            </a>
            <a (click)="Logout()" role="button" class="btn btn-sm btn-outline-light mb-1 mb-md-0" title="Cerrar sesión">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                <span class="sr-only">Cerrar sesión</span>
            </a>
        </div>
    </div>

</nav>

<!-- Modal ayuda -->
<div class="modal fade" id="modalAyuda" tabindex="-1" role="dialog" aria-labelledby="modalAyuda" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAyuda">Ayuda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h6>Uso de iconos</h6>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="width: 60px;">Icono</th>
                                <th>Uso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                </td>
                                <td>Agregar registro</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="fas fa-pen" aria-hidden="true"></span>
                                </td>
                                <td>Editar registro</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="fas fa-times" aria-hidden="true"></span>
                                </td>
                                <td>Eliminar registro sin guardar</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="fas fa-trash-alt" aria-hidden="true"></span>
                                </td>
                                <td>Eliminar registro (permanente)</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="far fa-eye" aria-hidden="true"></span>
                                </td>
                                <td>Activar registro</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="far fa-eye-slash" aria-hidden="true"></span>
                                </td>
                                <td>Desactivar registro</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="far fa-file" aria-hidden="true"></span>
                                </td>
                                <td>Ver soporte</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                                </td>
                                <td>Inciar sesión</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                                </td>
                                <td>Cerrar sesión</td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <span class="fas fa-info-circle" aria-hidden="true"></span>
                                </td>
                                <td>Ver detalles completos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"></ngx-spinner>
    <div class="mt-3 animated fadeIn">

        <h2 class="text-uppercase text-center">Listado de usuarios <small class="btn-block text-muted">El listado cuenta con {{usuarios.length}} registro(s)</small></h2>

        <div class="row">
            <div class="col-12 text-center">
                <br>

                <button type="button" (click)="modalCrearUsuario()" class="btn btn-outline-primary" name="button">
                    <span class="fa fa-plus"></span> Agregar usuario
                </button>
                <br>

                <!-- <button type="button" (click)="nuevaEntidad()" class="btn btn-outline-primary" name="button">
                    <span class="fa fa-plus"></span> Nueva entidad
                  </button> -->

                <!-- <button (click)="modalCrearUsuario()" type="button" class="btn btn-success mb-3 mr-1 text-uppercase" title="Crear usuario">
                <span class="fas fa-plus"></span> Crear Usuario</button> -->


            </div>


            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <br>
                            <tr>
                                <th scope="col">No. Identificación</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usua of usuarios; let i = index">
                                <td>{{usua.cedula}}</td>
                                <td>{{usua.nombres}} {{usua.apellidos}}</td>
                                <td>{{usua.correo}}</td>
                                <td>{{usua.telefono}}</td>
                                <td>
                                    <button (click)="editarUsuario(usua)" type="button" class="btn btn-sm btn-outline-dark border-secondary" title="Editar usuario"><span class="fas fa-pen"></span><span class="sr-only">Editar usuario</span></button>
                                    <button (click)="verUsuario(usua)" type="button" class="btn btn-sm btn-outline-dark border-secondary" title="Ver usuario"><span class="far fa-eye"></span><span class="sr-only">Ver usuario</span></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info text-center" *ngIf="usuarios.length == 0">
                        No hay usuarios registrados
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="crearUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario(usuarioForm)" novalidate>
                        <div class="modal-header">
                            <h5 class="modal-title" *ngIf="usuario.id == null">Agregar usuario</h5>
                            <h5 class="modal-title" *ngIf="usuario.id != null">Editar usuario</h5>
                            <button type="button" class="close" (click)="usuarioForm.resetForm();" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger alert" *ngIf="errores.length > 0">
                                <label><b>Corrige los errores:</b></label>
                                <ul>
                                    <div *ngFor="let error of errores">
                                        <li>
                                            <p>{{error}}</p>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                            <fieldset>
                                <div class="alert alert-info">
                                    Todos los campos son obligatorios
                                </div>

                                <div class="row">
                                    <div class="col col-md-6">
                                        <div class="form-group">
                                            <label for="nombres">Nombres</label>
                                            <input type="text" name="nombres" id="nombres" class="form-control" [ngClass]="{'is-invalid': ((usuarioForm.submitted || nombres.touched) && (nombres.errors) )}" [(ngModel)]="usuario.nombres" required #nombres="ngModel" placeholder="Nombres" maxlength="455"
                                            />
                                            <div class="invalid-feedback" *ngIf="((usuarioForm.submitted || nombres.touched) && (nombres.errors?.required) )">
                                                Campo requerido.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="apellidos">Apellidos</label>
                                            <input type="text" name="apellidos" id="apellidos" class="form-control" [ngClass]="{'is-invalid': ((usuarioForm.submitted || apellidos.touched) && (apellidos.errors) )}" [(ngModel)]="usuario.apellidos" required #apellidos="ngModel" placeholder="Apellidos"
                                                maxlength="455" />
                                            <div class="invalid-feedback" *ngIf="((usuarioForm.submitted || apellidos.touched) && (apellidos.errors?.required) )">
                                                Campo requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-md-6">
                                        <div class="form-group">
                                            <label for="cedula">No. Identificación</label>
                                            <input type="number" name="cedula" id="cedula" class="form-control" [ngClass]="{'is-invalid': ((usuarioForm.submitted || cedula.touched) && (cedula.errors) )}" [(ngModel)]="usuario.cedula" required #cedula="ngModel" placeholder="Identificación" maxlength="50"
                                            />
                                            <div class="invalid-feedback" *ngIf="((usuarioForm.submitted || cedula.touched) && (cedula.errors?.required) )">
                                                Campo requerido.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-6">
                                        <div class="form-group">
                                            <label for="telefono">Teléfono</label>
                                            <input type="number" name="telefono" id="telefono" class="form-control" [ngClass]="{'is-invalid': ((usuarioForm.submitted || telefono.touched) && (telefono.errors) )}" [(ngModel)]="usuario.telefono" required #telefono="ngModel" placeholder="Teléfono"
                                                maxlength="100" />
                                            <div class="invalid-feedback" *ngIf="((usuarioForm.submitted || telefono.touched) && (telefono.errors?.required) )">
                                                Campo requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-md-12">
                                        <div class="form-group">
                                            <label for="correo">Correo</label>
                                            <input type="email" name="correo" id="correo" class="form-control" [ngClass]="{'is-invalid': ((usuarioForm.submitted || correo.touched) && (correo.errors) )}" [(ngModel)]="usuario.correo" [email]="true" required #correo="ngModel" placeholder="Correo electrónico ej. ejemplo@mail.com"
                                                maxlength="255" />
                                            <div class="invalid-feedback" *ngIf="((usuarioForm.submitted || correo.touched) && (correo.errors?.required) )">
                                                Campo requerido.
                                            </div>
                                            <div class="invalid-feedback" *ngIf="((usuarioForm.submitted || correo.touched) && (correo.errors?.email) )">
                                                Formato invalido.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="usuarioForm.resetForm();" data-dismiss="modal">Cancelar</button>
                            <button type="submit" [disabled]="!usuarioForm.valid" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal" tabindex="-1" id="verUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">Detalles del usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form #usuarioEditar="ngForm" novalidate>
                            <fieldset>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="nombresVer">Nombres</label>
                                            <input readonly type="text" name="nombresVer" id="nombresVer" class="form-control" [(ngModel)]="usuarioVer.nombres" required #nombresVer="ngModel" placeholder="Nombres" maxlength="455" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="apellidosVer">Apellidos</label>
                                            <input readonly type="text" name="apellidosVer" id="apellidosVer" class="form-control" [(ngModel)]="usuarioVer.apellidos" required #apellidosVer="ngModel" placeholder="Apellidos" maxlength="455" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cedulaVer">No. Identificación</label>
                                            <input readonly type="number" name="cedulaVer" id="cedulaVer" class="form-control" [(ngModel)]="usuarioVer.cedula" required #cedulaEditar="ngModel" placeholder="No." maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="telefonoVer">Teléfono</label>
                                            <input readonly type="text" name="telefonoVer" id="telefonoVer" class="form-control" [(ngModel)]="usuarioVer.telefono" required #telefonoVer="ngModel" placeholder="Teléfono" maxlength="100" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="correoVer">Correo</label>
                                            <input readonly type="email" name="correoVer" id="correoVer" class="form-control" [(ngModel)]="usuarioVer.correo" required #correoVer="ngModel" placeholder="Correo electrónico ej. ejemplo@mail.com" maxlength="255" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>